table.dataTable.table {
    border-collapse: collapse !important;

    thead tr th{
        font-weight: 600 !important;
    }

    .actions{ min-width: 50px; }
}

.btn img{
    transform: translateY(-1px);
    margin-right: 10px;
}


.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media screen and (min-width: 1025px){
        >.box-tools, > .box-control, > .box-controls{
            position: initial;
        }

        .btn{ min-width: 175px; }
        .form-control{ max-width: 150px; }
    }
}


.box-control{
    .input-group input { max-width: 170px; width: 100%; font-size: 13px; }
}

.button-pills{
    display: flex;

    .btn{
        border-radius: 0;
        padding: 9px 10px;
        font-size: 12px;
        font-weight: 500;
        border-color: white !important;

        &.btn-light{
            background-color: #E4E7EA !important;
            color: #616A78;
        }

        &.btn-dark{
            background-color: #616A78;
        }
    }

    .btn:first-child{ border-radius: 5px 0 0 5px; }
    .btn:last-child{ border-radius: 0 5px 5px 0; }
}

.lookup-circle input{
    width: 136px;
}

.loading{
    position: relative;

    &:after{
        content: 'Carregando...';
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #eee;
        color: #666;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 25px;
        z-index: 10000;
        top: 0;
        left: 0;
    }
}

.nav-pills{
    .nav-item{
        background: #CBD4DD;
        border-radius: 5px;
        margin-right: 15px;

        .active{ background-color: #4A90E2; }
        .active img, .active i{ filter: invert(100%); opacity: 1; }

        a{
            color: #5F7C96;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            border: none;

            img, i {
                margin-right: 10px;
                opacity: 0.6;
                color: black;
                line-height: 18px;
            }
        }
    }
}

.inner-box-header{
    display: flex;
    align-items: center;
    border: 1px solid #D2D6DE;
    justify-content: space-between;
    padding: 20px 15px;
}

.inner-box-body{
    border: 1px solid #D2D6DE;
    border-top: none;
    padding: 20px;
}

.row{
    width: 100%;
}