.bd-radius-50p{ border-radius: 50%; }
.bd-radius-5{ border-radius: 5px; }

.margin-r-15{ margin-right: 15px; }
.margin-t-5{ margin-top: 5px; }
.margin-t-15{ margin-top: 15px; }
.filter-invert{ filter: invert(100%); }
.text-underline{ text-decoration: underline !important; }
.text-green{ color: #34B512 }
.text-orange{ color: #FABF03 }
.text-pink{ color: #EA2770 }
.text-beige { color: #F3DD98; }
.text-teal{ color: #5F7C96 }
.text-white{ color: #FFFFFF }

.btn-green, .btn-green:hover, .btn-green:active{ background-color: #20CDA6; color: white; }
.btn-teal, .btn-teal:hover, .btn-teal:active{ background-color: #2995A6; color: white; }
.btn-gray, .btn-gray:hover, .btn-gray:active{
    color: #5F7C96;
    background: #CBD4DD;
}
.callout-green{
    background-color: #20CDA6;
    border-color: #20CDA6;
    color: white;
}

.link-small{
    text-transform: uppercase;
    font-size: 11px;
    color: #20CDA6;
    border-bottom: 1px solid #20CDA6;
}

.font-size-40 { line-height: 1.2 !important; }

span.btn{ cursor: auto !important; padding: 5px 7px; }

.w-100{ width: 100px; }
.w-100p{ width: 100%; }
.mw-100p{ max-width: 100% !important; }
.mw-200{ max-width: 200px !important; }
.mw-150{ max-width: 150px !important; }
.minw-150{ min-width: 150px !important; }
.mh-30{ max-height: 30px !important; }
.h-100p{ height: 100%; }
.op-7{ opacity: 0.7; }

.box-header.p-30{
    padding-top: 20px !important;
    padding-bottom: 10px !important;
}

.input-group .floating-link{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    right: 0;
    top: 0;
    color: #20CDA6;
    height: 100%;
    font-size: 11px;
    line-height: 13px;
    background-color: white;
    text-decoration: underline;
    text-transform: uppercase;
    border: 1px solid #d7dbe2;
    border-left: none;
}

.lh-23{ line-height: 23px; }

.nav-flex{
    width: 100%;
    display:flex;
    flex-wrap: wrap;

    .nav-item{
        flex: 1;

        a{ justify-content: center; }
    }
}

$tablet-width: 769px;
$desktop-width: 1025px;

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
      @content;
    }
  }

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@include mobile{
    .mb-sm-25{
        margin-bottom: 25px;
    }

    .sm-ml-0{
        margin-left: 0 !important;
    }

    .mt-sm-15{
        margin-top: 15px !important;
    }

    .sm-mt-10{
        margin-top: 10px !important;
    }
}