@import 'mixins';
@import 'nav';
@import 'elements';

body .wrapper {
    background-color: #f5f7fa !important;
}

@include mobile{
    .content {
        padding: 30px 0px 0px 20px;

        .row{ width: calc(100% + 10px); }
    }

    .box-header.p-30, .box-body{ padding: 20px 5px 20px 20px !important; }
    .box-body > .row > .col-md-12{ padding-right: 0 !important; }
    div.form-control{ overflow-x: auto; }
    h1{ font-size: 32px; }
    .d-flex{ flex-wrap: wrap; }
    h5 a{ margin: 10px auto 0px auto; }
    .box-body ul li { line-height: initial; }
    .dashboard-cards .box-body{ padding-right: 20px !important }
    .table-responsive .container-fluid{ padding: 0 !important; }
}

.card-icon{
    width: 40px;
    height: 40px;

    &.small{
        width: 20px;
        height: 20px;
    }
}