.bd-radius-50p {
  border-radius: 50%;
}

.margin-r-15 {
  margin-right: 15px;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-t-15 {
  margin-top: 15px;
}

.filter-invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.text-underline {
  text-decoration: underline !important;
}

.text-green {
  color: #34B512;
}

.text-orange {
  color: #FABF03;
}

.text-pink {
  color: #EA2770;
}

.text-beige {
  color: #F3DD98;
}

.text-teal {
  color: #5F7C96;
}

.text-white {
  color: #FFFFFF;
}

.btn-green {
  background-color: #20CDA6;
  color: white;
}

.link-small {
  text-transform: uppercase;
  font-size: 11px;
  color: #20CDA6;
  border-bottom: 1px solid #20CDA6;
}

.font-size-40 {
  line-height: 1.2 !important;
}

span.btn {
  cursor: auto !important;
  padding: 5px 7px;
}

.w-100 {
  width: 100px;
}

.h-100p {
  height: 100%;
}

.op-7 {
  opacity: 0.7;
}

.box-header.p-30 {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
}

.input-group .floating-link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  right: 0;
  top: 0;
  color: #20CDA6;
  height: 100%;
  font-size: 11px;
  line-height: 13px;
  background-color: white;
  text-decoration: underline;
  text-transform: uppercase;
  border: 1px solid #d7dbe2;
  border-left: none;
}

.logo {
  margin-right: 40px;
}

.logo img {
  width: 45px;
}

.main-nav a {
  color: white;
}

.main-nav i {
  font-size: 20px;
  line-height: 20px;
  vertical-align: -2px;
}

.main-nav i.fa-user-circle-o {
  font-size: 18px;
  vertical-align: -0.5px;
}

.coin-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
  padding: 0 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.coin-info div:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 15px;
}

.coin-info p {
  margin: 0px;
}

.coin-info p span + span {
  margin-left: 5px;
}

.skin-blue .main-header {
  background: -webkit-gradient(linear, left top, right top, from(#2D4056), to(#141E2B));
  background: linear-gradient(90deg, #2D4056 0%, #141E2B 100%);
}

table.dataTable.table {
  border-collapse: collapse !important;
}

table.dataTable.table thead tr th {
  font-weight: 600 !important;
}

table.dataTable.table .actions {
  min-width: 50px;
}

.btn img {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  margin-right: 10px;
}

.box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1025px) {
  .box-header > .box-tools, .box-header > .box-control, .box-header > .box-controls {
    position: initial;
  }
  .box-header .btn {
    min-width: 175px;
  }
  .box-header .form-control {
    max-width: 150px;
  }
}

.box-control .input-group input {
  max-width: 170px;
  width: 100%;
  font-size: 13px;
}

.button-pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-pills .btn {
  border-radius: 0;
  padding: 9px 10px;
  font-size: 12px;
  font-weight: 500;
  border-color: white !important;
}

.button-pills .btn.btn-light {
  background-color: #E4E7EA !important;
  color: #616A78;
}

.button-pills .btn.btn-dark {
  background-color: #616A78;
}

.button-pills .btn:first-child {
  border-radius: 5px 0 0 5px;
}

.button-pills .btn:last-child {
  border-radius: 0 5px 5px 0;
}

.lookup-circle input {
  width: 136px;
}

.loading {
  position: relative;
}

.loading:after {
  content: 'Carregando...';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #eee;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-size: 25px;
  z-index: 10000;
  top: 0;
  left: 0;
}

.nav-pills .nav-item {
  background: #CBD4DD;
  border-radius: 5px;
  margin-right: 15px;
}

.nav-pills .nav-item .active {
  background-color: #4A90E2;
}

.nav-pills .nav-item .active img, .nav-pills .nav-item .active i {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  opacity: 1;
}

.nav-pills .nav-item a {
  color: #5F7C96;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.nav-pills .nav-item a img, .nav-pills .nav-item a i {
  margin-right: 10px;
  opacity: 0.6;
  color: black;
  line-height: 18px;
}

.inner-box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D2D6DE;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px;
}

.inner-box-body {
  border: 1px solid #D2D6DE;
  border-top: none;
  padding: 20px;
}

body .wrapper {
  background-color: #f5f7fa !important;
}
/*# sourceMappingURL=style.css.map */