.bd-radius-50p {
  border-radius: 50%;
}

.bd-radius-5 {
  border-radius: 5px;
}

.margin-r-15 {
  margin-right: 15px;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-t-15 {
  margin-top: 15px;
}

.filter-invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.text-underline {
  text-decoration: underline !important;
}

.text-green {
  color: #34B512;
}

.text-orange {
  color: #FABF03;
}

.text-pink {
  color: #EA2770;
}

.text-beige {
  color: #F3DD98;
}

.text-teal {
  color: #5F7C96;
}

.text-white {
  color: #FFFFFF;
}

.btn-green, .btn-green:hover, .btn-green:active {
  background-color: #20CDA6;
  color: white;
}

.btn-teal, .btn-teal:hover, .btn-teal:active {
  background-color: #2995A6;
  color: white;
}

.btn-gray, .btn-gray:hover, .btn-gray:active {
  color: #5F7C96;
  background: #CBD4DD;
}

.callout-green {
  background-color: #20CDA6;
  border-color: #20CDA6;
  color: white;
}

.link-small {
  text-transform: uppercase;
  font-size: 11px;
  color: #20CDA6;
  border-bottom: 1px solid #20CDA6;
}

.font-size-40 {
  line-height: 1.2 !important;
}

span.btn {
  cursor: auto !important;
  padding: 5px 7px;
}

.w-100 {
  width: 100px;
}

.w-100p {
  width: 100%;
}

.mw-100p {
  max-width: 100% !important;
}

.mw-200 {
  max-width: 200px !important;
}

.mw-150 {
  max-width: 150px !important;
}

.minw-150 {
  min-width: 150px !important;
}

.mh-30 {
  max-height: 30px !important;
}

.h-100p {
  height: 100%;
}

.op-7 {
  opacity: 0.7;
}

.box-header.p-30 {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
}

.input-group .floating-link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  right: 0;
  top: 0;
  color: #20CDA6;
  height: 100%;
  font-size: 11px;
  line-height: 13px;
  background-color: white;
  text-decoration: underline;
  text-transform: uppercase;
  border: 1px solid #d7dbe2;
  border-left: none;
}

.lh-23 {
  line-height: 23px;
}

.nav-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-flex .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-flex .nav-item a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .mb-sm-25 {
    margin-bottom: 25px;
  }
  .sm-ml-0 {
    margin-left: 0 !important;
  }
  .mt-sm-15 {
    margin-top: 15px !important;
  }
  .sm-mt-10 {
    margin-top: 10px !important;
  }
}

.logo {
  padding-right: 0;
}

@media (min-width: 1025px) {
  .logo {
    margin-right: 40px;
  }
}

.logo img {
  width: 45px;
}

@media (max-width: 768px) {
  .logo img {
    width: 35px;
  }
}

.main-nav a {
  color: white;
}

.main-nav i {
  font-size: 20px;
  line-height: 20px;
  vertical-align: -2px;
}

.main-nav i.fa-user-circle-o {
  font-size: 18px;
  vertical-align: -0.5px;
}

.coin-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
  padding: 0 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .coin-info {
    margin-left: 0;
    overflow-x: auto;
  }
  .coin-info > div {
    min-width: 100px;
    padding-left: 15px;
  }
  .coin-info > div:first-child {
    padding-left: 0px;
  }
}

.coin-info div:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 15px;
}

.coin-info p {
  margin: 0px;
}

.coin-info p span + span {
  margin-left: 5px;
}

.skin-blue .main-header {
  background: -webkit-gradient(linear, left top, right top, from(#2D4056), to(#141E2B));
  background: linear-gradient(90deg, #2D4056 0%, #141E2B 100%);
}

@media (max-width: 768px) {
  .main-header .sidebar-toggle {
    padding: 20px 10px;
  }
  .content-header h1 {
    display: none;
  }
  .btn.btn-yellow.minw-150 {
    min-width: auto !important;
  }
}

table.dataTable.table {
  border-collapse: collapse !important;
}

table.dataTable.table thead tr th {
  font-weight: 600 !important;
}

table.dataTable.table .actions {
  min-width: 50px;
}

.btn img {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  margin-right: 10px;
}

.box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .box-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .box-header > .box-tools, .box-header > .box-control, .box-header > .box-controls {
    min-width: 100%;
    position: relative;
  }
}

@media screen and (min-width: 1025px) {
  .box-header > .box-tools, .box-header > .box-control, .box-header > .box-controls {
    position: initial;
  }
  .box-header .btn:not(.btn-toggle) {
    min-width: 175px;
  }
  .box-header .form-control {
    max-width: 150px;
  }
}

.box-control .input-group input {
  max-width: 170px;
  width: 100%;
  font-size: 13px;
}

.button-pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-pills .btn {
  border-radius: 0;
  padding: 9px 10px;
  font-size: 12px;
  font-weight: 500;
  border-color: white !important;
}

.button-pills .btn.btn-light {
  background-color: #E4E7EA !important;
  color: #616A78;
}

.button-pills .btn.btn-dark {
  background-color: #616A78;
}

.button-pills .btn:first-child {
  border-radius: 5px 0 0 5px;
}

.button-pills .btn:last-child {
  border-radius: 0 5px 5px 0;
}

.lookup-circle input {
  width: 136px;
}

.loading {
  position: relative;
}

.loading:after {
  content: 'Carregando...';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #eee;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-size: 25px;
  z-index: 10000;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .nav-pills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 36px;
    overflow: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
  }
  .nav-pills:after {
    content: '+';
    position: absolute;
    right: 20px;
    top: 4px;
    color: white;
    font-size: 18px;
    background: #00000026;
    padding: 0px 9px;
    border-radius: 4px;
  }
  .nav-pills.active {
    max-height: initial !important;
  }
  .nav-pills.active:after {
    content: '-';
  }
}

.nav-pills .nav-item {
  background: #CBD4DD;
  border-radius: 5px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .nav-pills .nav-item {
    margin-bottom: 5px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .nav-pills .nav-item.active {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .nav-pills .nav-item a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.nav-pills .nav-item .active {
  background-color: #4A90E2;
}

.nav-pills .nav-item .active img, .nav-pills .nav-item .active i {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  opacity: 1;
}

.nav-pills .nav-item a {
  color: #5F7C96;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.nav-pills .nav-item a img, .nav-pills .nav-item a i {
  margin-right: 10px;
  opacity: 0.6;
  color: black;
  line-height: 18px;
}

.inner-box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D2D6DE;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px;
}

.inner-box-header.rounded {
  border-radius: 6px 6px 0 0 !important;
}

.inner-box-body {
  border: 1px solid #D2D6DE;
  border-top: none;
  padding: 20px;
}

.inner-box-body.rounded {
  border-radius: 0 0 6px 6px !important;
}

.inner-box {
  border: 1px solid #D2D6DE;
  padding: 20px;
}

.inner-box.rounded {
  border-radius: 6px;
}

.row {
  width: 100%;
}

.icon-with-notification {
  position: relative;
}

.icon-with-notification:after {
  content: '.';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: red;
  z-index: 1000;
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
}

.callout-leafgreen {
  background-color: #b9ec7d;
  color: #447700;
  border: none;
}

.module {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 15px;
}

.breadcrumb i {
  line-height: 0;
  margin-right: 5px;
}

.breadcrumb i.mdi {
  font-size: 24px;
  vertical-align: -4px;
}

.breadcrumb i.fa {
  font-size: 20px;
  vertical-align: -2px;
}

.select2-container--default.select2-container--focus, .select2-container--default:active, .select2-container--default:focus, .select2-selection.select2-container--focus, .select2-selection:active, .select2-selection:focus {
  outline: 0 !important;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
  border: 1px solid #d2d6de !important;
  border-radius: 0 !important;
  padding: 6px 12px !important;
  height: 34px !important;
}

.select2-container--default.select2-container--open {
  border-color: #398bf7 !important;
}

.select2-dropdown {
  border: 1px solid #d2d6de !important;
  border-radius: 0 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #398bf7 !important;
  color: #fff !important;
}

.select2-results__option {
  padding: 6px 12px !important;
  -moz-user-select: none !important;
   -ms-user-select: none !important;
       user-select: none !important;
  -webkit-user-select: none !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0 !important;
  height: auto !important;
  margin-top: -4px !important;
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 6px !important;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 28px !important;
  right: 3px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0 !important;
}

.select2-dropdown .select2-search__field, .select2-search--inline .select2-search__field {
  border: 1px solid #d2d6de !important;
}

.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
  outline: 0 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #398bf7 !important;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #67757c !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd !important;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[aria-selected=true]:hover {
  color: #455a64 !important;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #d2d6de !important;
  border-radius: 0 !important;
}

.select2-container--default .select2-selection--multiple:focus {
  border-color: #398bf7 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #d2d6de !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #398bf7 !important;
  border-color: #367fa9 !important;
  padding: 1px 10px !important;
  color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #fff !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 10px !important;
}

body .wrapper {
  background-color: #f5f7fa !important;
}

@media (max-width: 768px) {
  .content {
    padding: 30px 0px 0px 20px;
  }
  .content .row {
    width: calc(100% + 10px);
  }
  .box-header.p-30, .box-body {
    padding: 20px 5px 20px 20px !important;
  }
  .box-body > .row > .col-md-12 {
    padding-right: 0 !important;
  }
  div.form-control {
    overflow-x: auto;
  }
  h1 {
    font-size: 32px;
  }
  .d-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  h5 a {
    margin: 10px auto 0px auto;
  }
  .box-body ul li {
    line-height: initial;
  }
  .dashboard-cards .box-body {
    padding-right: 20px !important;
  }
  .table-responsive .container-fluid {
    padding: 0 !important;
  }
}

.card-icon {
  width: 40px;
  height: 40px;
}

.card-icon.small {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
/*# sourceMappingURL=style.css.map */