.button{
    text-transform: uppercase;
    color: white !important;
    font-family: $f_body;
    padding: .85em 1em .7em 1em;

    &.block{
        display: block;
        width: 100%;
    }
}

.button.white{
    background-color: white;
    color: black !important;
    border-radius: 10px;
}

.button.large{
    border-radius: 25px;
    font-size: 20px;
    padding: 12px 30px 10px 30px;
}