@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,600,700|Montserrat:300,400,500,600,700&display=swap');

$grid-width: 900px;

$f_title : 'Ibarra Real Nova';
$f_body : 'Montserrat';

$c_primary : #5a9dd6;
$c_lightgray : #F2F2F2;

@import '_mixins';

html{
  line-height: 1.2;
}

body {
  font-family: $f_body;
  background: $c_lightgray;
}

h1,h2,h3,h4,h5,h6{
  font-family: $f_title;

  &.with-background{
    background-color: $c_primary;
    padding: 3px 5px;
    color: white;
  }
}

h1,h2,h3 {
  font-weight: bold;
}

h1 { font-size: 62px; }
h2 { font-size: 35px; }
h3 { font-size: 28px; }

p { line-height: 1.7; }

p a { color: $c_primary; }

ul li { margin-bottom: 5px; }

.row{
  max-width: $grid-width;
  margin: 0 auto;

  @include mobile{
    width: calc(100vw - 40px);
    margin: 0 20px;
  }
}

.font-body{
  font-family: $f_body;
}

.font-title{
  font-family: $f_title;
}

.text-primary {
  color: $c_primary;
}

@import '_panel';
@import '_project';