.navswipe {
    height: 100%;
    width: 280px;
    background-color: #0a4a3c;
    z-index: 99999;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-280px,0);
}

.navswipe, .ssm-overlay {
    position: fixed;
    top: 0;
    left: 0;
}

.head-item.values{
    font-size: 13px;

    span{
        margin-right: 15px;

        &.featured{
            border-radius: 30px;
            background-color: rgba(255,255,255,0.05);
            padding: 7px 10px;
        }
    }
}

.main-nav {
    background-color: #141a1e;
    padding: 0 25px;
    width: 100%;
    box-shadow: 0 2px 4px #030e13;
    height: 70px;
    color: white;
    z-index: 99;
    position: fixed;
    top: 0;
}

.noreg .left-col .head-item, .small-t {
    float: left!important;
}

.head-item {
    padding: 10px 0;
}

#menu-toggle {
    width: 35px;
    height: 32px;
    position: relative;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    margin-top: -2px;
}

#menu-toggle #hamburger, .example iframe {
    position: absolute;
    height: 100%;
    width: 100%;
}

#menu-toggle #hamburger span {
    width: 35px;
    height: 4px;
    position: relative;
    margin: 6px 0;
}
.hm {
    display: block;
    background: $c_primary;
    border-radius: 2px;
}

.lang-no-reg {
    float: right;
    margin-top: 5px;
}

.lang-switch {
    float: left;
    margin-right: 0;

    .dropdown-menu {
        transition: .2s;
        top: 48px!important;
        background-color: #071518;
        font-size: 16px;
        border-radius: 5px;
        right: -8px;
        left: auto;
    }
    a {
        color: #fff;
        padding: 4px 10px;
        float: left;
        transition: color .3s;
        line-height: 2;

        &.active {
            text-decoration: underline;
            background: 0 0;
        }

        &:hover {
            color: #9a9a9a;
            text-decoration: none;
            background: 0 0;
        }
    }
}   

.btn-lang {
    font-size: 14px;
    color: #fff;
    background: 0 0;
    float: left;
    box-shadow: none!important;
    padding: 0;
    line-height: 2;
}