.md-effect-2 {
    transform: translateX(100%);
    opacity: 0;
    transition: transform .5s cubic-bezier(.25,.5,.5,.9);
}

.md-modal {
    z-index: 9999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    backface-visibility: hidden;
    background: #071518;
    transition: background .2s, transform .6s;

    .modal-content{
        max-width: 1440px;
        margin: 40px auto;
    }
    
    .li-down-tabs-block {
        width: 100%;
        padding: 0;
        background: #0b1f24;
        margin-bottom: 0;
        margin-top: 20px;
        border-radius: 5px;
    }
    
    .tabs-nav > ul {
        list-style-type: none;
        display: inline-block;
        border-radius: 100px;
        box-shadow: 0 2px 11px 0 #071518;
        background: #0b1f24;
        padding: 5px;
        margin-top: 15px;
        display: flex;
    }
    
    .li-down-tabs {
        flex: 1;
        margin: 0 auto;
        height: 90px;
        text-align: center;
        cursor: pointer;
        border-bottom: 1px solid #0e2125;
        font-weight: 600;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        a  { color: #fff; }
    }
    
    .li-down-tabs.current {
        box-shadow: 0 1px 20px 0 rgba(0,0,0,.35);
        background: #071518!important;
        border-radius: 100px;
        cursor: pointer;
        transition: .3s;
    
        a  { color: $c_primary; }
    }
    
    .form-control{
        border-radius: 5px!important;
    }
    
    .input-icon{
        border-right: 1px solid #56585d;
        width: 50px;
        height: 45px;
        position: absolute;
        margin-top: 6px;
        border-radius: 50px;

        svg{
            width: 25px;
            height: 25px;
            float: left;
            position: absolute;
            left: 13px;
            top: 10px;
        }

        + input{
            border: none!important;
            padding-left: 60px !important;
        }
    }

    .form-control{
        box-shadow: 0 0 0 1px #353f50;
        border-radius: 30px!important;
        color: #fff;
        font-size: 16px !important;
        padding-left:  25px !important;
        padding-right:  25px !important;
    }
    
    .input-group .form-control{
        border-radius: 5px 0 0 5px !important;
    }
    
    .input-group-text{
        color: #36798A !important;
        font-weight: bold !important; 
    }
    
    .form-control, .input-group-text{
        border: #071518;
        height: 55px;
        font-size: 20px;
        color: #fff;
        background: #071518;
    }
    
    .button-green{
        margin-top: -18px;
        margin-left: 25px;
    }
    
}

.md-show {
    visibility: visible;
}
.md-modal, .modal-content-reg-login {
    height: 100vh;
}
.md-modal, .md-overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.md-show.md-effect-2 {
    transform: translateX(0);
    opacity: 1;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-clip: padding-box;
    outline: 0;
    overflow: hidden;
    background: 0 0;
    border: none;
    border-radius: 0;
    color: #fff;
}

.modal-close, .modal-close-no-log {
    height: 30px;
    background: url(/assets/images/icon-close.svg) 0 0/cover no-repeat;
    z-index: 9999999999999;
    width: 30px;
    position: absolute;
    right: 30px;
    top: 25px;

    @media screen and (max-width: 768px){
        top: 10px;
    }
}

.modal-title-head {
    font-size: 35px;
    margin-top: 80px;
    line-height: 24px;
    text-align: center;
    color: white;
    padding: 20px 0 30px;
    text-shadow: 0 4px 10px #000;
    width: 100%;
    position: relative;
}

.registration-block {
    margin-top: 5px;
    margin-bottom: 0;
    display: inline-block;
}

.registration-block, .registration-block-content {
    height: 100%;
    position: relative;
}

.block-singup-banner.center {
    margin: auto;
    padding: 0;
}


.modal-footer .modal-btn {
    width: 254px;
    left: 0;
    right: 0;
    padding: 13px 12px;
    margin: 15px auto 10px;
    cursor: pointer;
    display: block;
    float: initial;
    font-size: 17px;

    &:hover{
        background-color: $c_primary;
        color: white;
    }
}

@media screen and (max-width: 768px){
    #tab_history{
        padding: 0 20px;
    }
}