.modal-profile{
    top: 70px;
}



.block-upload {
    display: block;
    width: 100%;
}

.input-block-img {
    width: 100%;
    min-height: 45px;
    position: relative;
    border-top: none;
    box-shadow: 0 0 0 1px #353f50;
    border-left: none;
    border-right: none;
    border-radius: 30px!important;
    color: #fff;
    font-size: 16px;
    background: #071518;

    p {
        width: 100%;
        padding: .5rem 1.2rem;
        font-size: 1rem;
        line-height: 1.6;
        text-align: left;
        margin-bottom: 0;

        span {
            color: $c_primary;
            font-size: 14px;
            position: relative;
            top: 1px;
        }
    }
}

.cabinet__box-upload {
    padding-left: 1px;
    padding-bottom: 2px;

    .icon {
        width: 19px;
        height: 18px;
    }
}

.cabinet__box-svg{
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    
    .icon {
        fill: #dc8b0d;
        transition: fill .3s;
    }
}

.docsCountHolder {
    padding-bottom: 10px;
    font-weight: 100;
    position: relative;
    clear: both;
    width: 100%;
    padding-top: 10px;
}

#docsCount {
    color: $c_primary;
    border-radius: 50px;
    box-shadow: 0 0 0 1px #56585d;
    padding: 4px 12px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 400;
}