.modal-transactions{
    margin-top: 70px;

    
    .push-text-deposit {
        border-radius: 100px;
        padding: 10px 8px 8px;
        margin-bottom: 15px;
        margin-top: 15px;
        text-align: center;

        @media screen and (max-width: 768px){
            padding: 10px 20px;

            p span { font-size: 25px !important; }
        }

        p{
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 0;
            line-height: 1.4;

            span {
                color: $c_primary;
                font-size: 30px;
                line-height: .7;
                font-weight: 900;
                vertical-align: -4px;
            }
        }
    }

    .history-text {
        margin-left: 0;
        font-size: 13px;
        border-radius: 10px;
        margin-top: 15px;
        padding: 0 15px;

        @media screen and (max-width: 768px){
            margin-bottom: 15px;
        }
    }

    .form-deposit{
        display:flex;
        flex-wrap: wrap;

        .button-green{
            margin: 20px auto 0 auto;
        }
    }
}

#tab_pay{
    @media screen and (max-width: 768px){
        .qrcode{
            max-width: 220px;
            display: block;
            margin: 0 auto 20px auto;
        }
    }
}

.tab_confirm-text{
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 768px){
        flex-direction: column;
        text-align: center;

        img{
            margin: 0 0 15px 0 !important;
            width: 60px;
        }
    }
}

.table-responsive-sm{
    background: #0b1f24;
    border-radius: 15px;
}