.bd-radius-50p{
    border-radius: 50%;
}

.text-green{ color: #34B512 }
.text-orange{ color: #FABF03 }
.text-pink{ color: #EA2770 }
.text-beige { color: #F3DD98; }
.text-teal{ color: #5F7C96 }
.text-white{ color: #FFFFFF }

span.btn{ cursor: auto; }

.link-small{
    text-transform: uppercase;
    font-size: 11px;
    color: #20CDA6;
    border-bottom: 1px solid #20CDA6;
}

.font-size-40 { line-height: 1.2 !important; }