.home-banner{
    background-image: url('/assets/images/banner_header.png');
    background-size: cover;
    height: calc(100vw / 4.35);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 103px;

    @include mobile{
        height: 100vw;
    }

    &--content{
        flex: 0 0 375px;
        max-width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &--title{
        font-size: 23px;
        color: white;
        margin: 25px 0;
    }

}

.home-perfumes{
    .perfume{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            height: 310px;
            width: auto;
        }

        &--title{
            margin-top: 30px;
            margin-bottom: 0;
        }
    }
}

.icone{
    text-align: center;
    
    img{  
        height: 100px;
        width: auto;
    }
}